<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>护士端-删除患者信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">护士端</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    {{ session.name }}
                </a>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="{{ url_for('logout') }}">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">登记患者信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('nurse.nurse') }}">浏览患者信息</a></dd>
                        <dd><a href="{{ url_for('nurse.search_patient') }}">查找患者信息</a></dd>
                        <dd><a href="{{ url_for('nurse.add_patient') }}">新增患者信息</a></dd>
                        <dd><a href="{{ url_for('nurse.alter_patient') }}">修改患者信息</a></dd>
                        <dd><a href="{{ url_for('nurse.delete_patient') }}">删除患者信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">登记治疗项目列表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('nurse.treat_info') }}">浏览治疗项目信息</a></dd>
                        <dd><a href="{{ url_for('nurse.search_treat') }}">查找治疗项目信息</a></dd>
                        <dd><a href="{{ url_for('nurse.add_treat') }}">新增治疗项目信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-text">
                <table class="layui-table" id="ID-table-demo-init">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:80, sort: true}">卡号</th>
                        <th lay-data="{field:'username', width:80}">患者姓名</th>
                        <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
                        <th lay-data="{field:'city'}">年龄</th>
                        <th lay-data="{field:'sign'}">登记日期</th>
                        <th lay-data="{field:'experience', sort: true}">开方日期</th>
                        <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#templet-demo-theads-tool'}">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <th lay-data="{field:'id', width:80, sort: true}">{{ item[0] }}</th>
                            <th lay-data="{field:'username', width:80}">{{ item[1] }}</th>
                            <th lay-data="{field:'sex', width:80, sort: true}">{{ item[2] }}</th>
                            <th lay-data="{field:'city'}">{{ item[3] }}</th>
                            <th lay-data="{field:'sign'}">{{ item[5] }}</th>
                            <th lay-data="{field:'experience', sort: true}">{{ item[6] }}</th>
                            <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#templet-demo-theads-tool'}">
                                <form action="{{ url_for('nurse.delete_patient') }}" method="post">
                                    <button class="layui-btn layui-bg-red" name="id" value="{{ item[0] }}">删除</button>
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </blockquote>
        </div>
    </div>
</div>

<script src="//cdn.staticfile.org/layui/2.9.7/layui.js"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            menuLeft: function (othis) { // 左侧菜单事件
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
        });
    });
</script>
</body>
</html>