<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
<div class="card container">
    <h2>设备信息</h2>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">设备编号</li>
        <li class="list-group-item">设备名称</li>
        <li class="list-group-item">设备类型</li>
        <li class="list-group-item">设备归属</li>
        <li class="list-group-item">购入时间</li>
        <li class="list-group-item">报废时间</li>
    </ul>
    {% for item in data %}
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">{{ item[0] }}</li>
            <li class="list-group-item">{{ item[1] }}</li>
            <li class="list-group-item">{{ item[2] }}</li>
            <li class="list-group-item">{{ item[3] }}</li>
            <li class="list-group-item">{{ item[4] }}</li>
            <li class="list-group-item">{{ item[5] }}</li>
        </ul>
    {% endfor %}
    <form method="post" action="{{ url_for('device_search') }}">
        <h2 class="text-center">选择查询方式</h2>
        {% if mesage is defined and mesage %}
            <div class="alert alert-warning">{{ mesage }}</div>
        {% endif %}
        <div class="form-group">
            <input type="text" class="form-control" name="data" placeholder="请输入要查询的数据并选择查询方式">
        </div>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="device_id">设备编号</button>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="device_name">设备名称</button>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="device_type">设备类型</button>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="device_own">设备归属</button>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="start_time">购入时间</button>
        <button type="submit" class="btn btn-outline-primary" name="kind" value="end_time">报废时间</button>
    </form>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">设备编号</li>
        <li class="list-group-item">设备名称</li>
        <li class="list-group-item">设备类型</li>
        <li class="list-group-item">设备归属</li>
        <li class="list-group-item">购入时间</li>
        <li class="list-group-item">报废时间</li>
    </ul>
    {% for item in search_data %}
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">{{ item[0] }}</li>
            <li class="list-group-item">{{ item[1] }}</li>
            <li class="list-group-item">{{ item[2] }}</li>
            <li class="list-group-item">{{ item[3] }}</li>
            <li class="list-group-item">{{ item[4] }}</li>
            <li class="list-group-item">{{ item[5] }}</li>
        </ul>
    {% endfor %}
    <p class="bottom">浏览完毕？<a class="bottom" href="{{ url_for('admin') }}">点击此处返回主菜单</a></p>
</div>
</body>
</html>