<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
<div class="container">
    <h2>修改患者信息</h2>
    <form action="{{ url_for('doctor_alter') }}" method="post">
        {% if mesage1 is defined and mesage1 %}
            <div class="alert alert-warning">{{ mesage1 }}</div>
        {% endif %}
        <div class="form-group">
            <label for="doctor_id">输入查询医师卡号:</label>
            <input type="text" id="doctor_id" class="form-control" name="doctor_id" placeholder="请输入医师卡号">
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    <form action="{{ url_for('doctor_alter') }}" method="post">
        {% if mesage2 is defined and mesage2 %}
            <div class="alert alert-warning">{{ mesage2 }}</div>
        {% endif %}
        <div class="form-group">
            <label for="doctor_name">患者姓名:</label>
            <input type="text" class="form-control" id="doctor_name" name="doctor_name" placeholder="请输入姓名"
                   value="{{ data[1] }}">
        </div>
        <div class="form-group">
            <label for="sex">请选择性别:</label>
            <select class="form-control" name="sex" value="{{ data[2] }}">
                <option {% if data[2]=='男' %} selected{% endif %}>男</option>
                <option {% if data[2]=='女' %} selected{% endif %}>女</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">年龄:</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="请输入年龄" value="{{ data[3] }}">
        </div>
        <div class="form-group">
            <label for="doctor_id">卡号:</label>
            <input type="text" class="form-control" id="doctor_id" name="doctor_id" placeholder="请输入卡号"
                   value="{{ data[0] }}">
        </div>
        <div class="form-group">
            <label for="department">科室:</label>
            <input type="text" class="form-control" id="department" name="department" placeholder="请输入科室"
                   value="{{ data[5] }}">
        </div>
        <div class="form-group">
            <label for="title">职称:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="请输入职称"
                   value="{{ data[6] }}">
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
        <p class="bottom">修改完毕？<a class="bottom" href="{{ url_for('check') }}">点击此处返回主菜单</a></p>
    </form>
</div>
</body>
</html>