<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>康复系统用户登录</h2>
    <form action="{{ url_for('login') }}" method="post">
        {% if mesage is defined and mesage %}
            <div class="alert alert-warning">{{ mesage }}</div>
        {% endif %}
        <div class="form-group">
            <label for="email">邮箱:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">密码:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" name="pswd">
        </div>
        <div class="form-group">
            <label for="rol">选择角色:</label>
            <select class="form-control" name="rol">
                <option>门诊缴费</option>
                <option>护士</option>
                <option>医生</option>
                <option>保洁</option>
            </select>
        </div>
        <div class="form-group">
            <label for="depart">选择科室:</label>
            <select class="form-control" name="depart">
                <option>中医科</option>
                <option>内科</option>
                <option>外科</option>
                <option>骨科</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
        <p class="bottom">没有账户？<a class="bottom" href="{{ url_for('register') }}">请点击此处注册</a></p>
    </form>
</div>
</body>
</html>

