<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="bar" style="width: 600px;height:400px;"></div>
</body>
<script src="static/js/echarts.min.js"></script>
<script>
    var bar = echarts.init(document.getElementById('bar'));
        var option = {
            title: {
                text: '病症统计'
            },
            series: [
                {
                    type: 'pie',
                    data: [
                            {
                            {% for item in treatments %}
                                name:{{item[0]}},
                                value:{{item[1]}}
                            {% endfor %}
                            }
                    ]
                }
            ]
        };
        bar.setOption(option);
</script>
</html>